.example-spacer {
    flex: 1 1 auto;
  }
  
  .main-body {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 1348px;
    
  }
  mat-form-field {
    width: 100%;
  }
  .action {
    display: flex;
    gap: 5px;
  }

  .menu{
    margin: 10px;
    display: flex;
    gap:10px;
    justify-content: center;
   
  }
  .dest-table{
    margin-bottom: 40px;
  }
  /* .image-table{
    height: 140px;
  } */