:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .title{
    padding: 10px 14px 10px;
    text-align: center;
   
  }
  .content{
    padding: 10px 14px 0px;
  }
.row{
    display: flex;
    gap:10px;
  }

.image-box{
  width: 50%;
  /* background-color: aqua; */
}
.image-box button{
  width: 100%;
}

p{
  color: green;
}

  .text-box{
    width: 100%;
  }
  .action{
    padding: 0px 14px 10px;
    width: 100%;
  }
  .action button{
    flex: 1;
  }


  /* ====desing box==== */
  .yellow-box{
    background-color: #076B83ff ;
    color: #FFFFFFff;
    background-image: url('asset/destbg.jpg');
    background-position-y: bottom;
  }
  .design-box{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px;
    border-radius: 0.5rem;
  }

 