<div class="peacock_box">
    <div class="space"></div>
<div class="container">
    <form>
 
        <div class="form-group">
            <label>User Name</label>
            <input type="text" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" id="username" class="form-control" placeholder="Enter User Name">
        </div>
    
        <div class="form-group">
            <label>Password</label>
            <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" id="password" class="form-control" placeholder="Enter password">
        </div>
    
        <button type="submit" class="btn btn-primary" (click)="login()">Login</button>
        <div>
            <small>Don't have an account? Sign up</small> 
        </div>
    </form>
</div>
</div>

