<div class="yellow-box">
    <div class="title"><h1>Login to your Account</h1></div>
    <div class="sub-title"><h5>Explore Travel destination</h5></div>
    <div class="peacock-box"> 
<div class="container design-box">
    
    <form  [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div  mat-dialog-content class="content">
    
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label >User Name</mat-label>
                <input #username matInput placeholder="ex: itsRaju" formControlName="username">
                <mat-hint style = "color: red;" *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.errors?.['required']">
                    <small>Username is required.</small>
                </mat-hint>
            </mat-form-field>
    
            <mat-form-field appearance="outline">
                <mat-label >Password</mat-label>
                <input #password matInput placeholder="******" formControlName="password" [type]="hide ? 'password' : 'text'">
                <mat-hint style = "color: red;" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']">
                    <small>Password is required.</small>
                </mat-hint>
            </mat-form-field>
        </div>
         
    </div>
    
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">Login</button>
    </div>
    </form>

</div>
</div>
</div>

