<div class="top-titlebar">

      <div class="card" style="width: 28rem; height:20rem;">
        <div class="card-body">
          <h1 class="card-title">Welcome Admin</h1>
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link active" routerLink="addDestination" routerLinkActive="active">Go to Add Destination page</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" routerLink="addImage" routerLinkActive="active">Go to Add Image page</a>
            </li>    
          </ul>
          
        </div>
      </div>
</div>

<router-outlet></router-outlet>
