.top-titlebar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.card-body{
    margin: 20px;
    
}
.nav{
    margin-top: 50px;
}
.nav-item{

    margin: 20px;
    width: 100%;
    text-align: center;
}
h1{
    text-align: center;
}
.card{
    background-color: #FCEFE5ff;
}