
.hero col{
    width: 100%;

}



.hero{
    /* height: 1080px; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 80px;


    background-image: url('asset/lake.jpg');
    background-size: cover;
    background-position: center;
   
    height: 400px; /* Use min-height to ensure full coverage */
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
    overflow: hidden; /* Hide any overflowing content */
}
.home__tittle{
    /* font-size: 100px;  good for small device*/
    font-size: 150px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: #FCEFE5ff;
    
    position: relative;
    
    
    
}


/* ===============the table=============== */
.card-container{

    margin-top: 20px;
    margin-bottom: 100px;

}
.example-spacer {
    flex: 1 1 auto;
  }
  
  .main-body {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 900px;
    
  }
  mat-form-field {
    width: 100%;
  }
  
  
  
  .hide{
    display:none;
  }

 .card-start{
  background-color: #FCEFE5ff;
  border-top-left-radius: 1rem ;
  border-bottom-left-radius: 1rem;
  width: 50%;
  padding: 10px 0px 10px 0px;
  background-clip: content-box;
  border: none;
  background-size: cover;
  height: 300px;
  overflow: hidden;


 } 
 .card-start img {
  width: 100%;
  height: 310px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  border-radius: 1rem ;
  
}
 .card-box-start{
  display: flex;
  background-color: #FCEFE5ff;
  border-top-right-radius: 1rem;
  margin-top: 10px;
  padding-top: 15px;
  border: none;
 }
.card-box{
  display: flex;
  background-color: #FCEFE5ff;
  border: none;
}
.card-end{
  background-color:#FCEFE5ff;
  
  border-bottom-right-radius: 1rem;
  display: flex;
 margin-bottom: 10px;
 border: none;
 padding-bottom: 15px;
}

.image-resize{

  height: 100px;
  width: 100px;
}

/* =============responsive============ */
@media (max-width: 768px){
  .home__tittle{
      font-size: 70px;
      padding-top: 60px;
  }

  

}

.img1{
  background-image: url('asset/Srirangam.jpg');
  background-size: cover;
  background-position: center;
  height: 20rem;
}
.img2{
  background-image: url('asset/Gulmarg.jpg');
  background-size: cover;
  background-position: center;
  height: 20rem;
}
.img3{
  background-image: url('asset/PalakLake.jpg');
  background-size: cover;
  background-position: center;
  height: 20rem;
}
.img4{
  background-image: url('asset/Shimla.jpg');
  background-size: cover;
  background-position: center;
  height: 20rem;
}
.img5{
  background-image: url('asset/Neermahal.jpg');
  background-size: cover;
  background-position: center;
  height: 20rem;
}