
.hero col{
    width: 100%;

}



.hero{
    /* height: 1080px; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 80px;


    background-image: url('asset/lake.jpg');
    background-size: cover;
    background-position: center;
   
    height: 400px; /* Use min-height to ensure full coverage */
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
    overflow: hidden; /* Hide any overflowing content */
}
.home__tittle{
    /* font-size: 100px;  good for small device*/
    font-size: 150px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: #FCEFE5ff;
    margin-top: 7%;
    position: absolute;
    top: 0px;
    
    
}


/* ===============the table=============== */
.card-container{

    margin-top: 20px;
    margin-bottom: 100px;

}
.example-spacer {
    flex: 1 1 auto;
  }
  
  .main-body {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 900px;
    
  }
  mat-form-field {
    width: 100%;
  }
  
  
  
  .hide{
    display:none;
  }

 .card-start{
  background-color: rgb(66, 39, 43);
  border-top-left-radius: 2rem ;
  border-bottom-left-radius: 2rem;
  width: 50%;
  padding: 10px 0px 10px 0px;
  background-image: url('asset/Hawamahal.jpg');
  background-clip: content-box;
  border: none;
  background-size: cover;
  height: 300px;

 } 
 .card-box-start{
  display: flex;
  background-color: #FCEFE5ff;
  border-top-right-radius: 1rem;
  margin-top: 10px;
  padding-top: 15px;
  border: none;
 }
.card-box{
  display: flex;
  background-color: #FCEFE5ff;
  border: none;
}
.card-end{
  background-color:#FCEFE5ff;
  
  border-bottom-right-radius: 1rem;
  display: flex;
 margin-bottom: 10px;
 border: none;
 padding-bottom: 15px;
}
