:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .title{
    padding: 10px 14px 10px;
    text-align: center;
   
  }
  .content{
    padding: 10px 14px 0px;
  }
.row{
    display: flex;
    
    margin: 10px 10px 20px;
    
  }

.image-box{
  width: 50%;
  /* background-color: aqua; */
}
.image-box button{
  width: 100%;
}

p{
  color: green;
}

  .text-box{
    width: 100%;
  }
  .action{
    padding: 0px 14px 10px;
    width: 100%;
  }
  .action button{
    flex: 1;
  }
  .image-preview{
    height: 100px;
    width: 100px;
    background-color: antiquewhite;
  }
  