<div class="title"><h1>Image form</h1></div>
<form  [formGroup]="imgForm" (ngSubmit)="onFormSubmit()">
<div  mat-dialog-content class="content">
    <div class="row">
        <label>Select an image file</label>
        <input type="file" accept="image/**" formControlName="imageFile">
    </div>

 
</div>

<div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="primary" type="submit">{{data ? 'update':'save'}}</button>
</div>
</form>

