<div class="peacock_box">
    <div class="space"></div>
<div class="container">
    <form>
        <div class="form-group">
          <label>Name</label>
          <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" id="name" class="form-control" placeholder="Enter Name">
        </div>
        
        <div class="form-group">
            <label>Email Id</label>
            <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" id="email" class="form-control" placeholder="Enter your email">
        </div>
    
        <div class="form-group">
            <label>User Name</label>
            <input type="text" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" id="username" class="form-control" placeholder="Create User Name">
        </div>
    
        <div class="form-group">
            <label>Password</label>
            <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" id="password" class="form-control" placeholder="Create password">
        </div>
    
        <button type="submit" class="btn btn-primary" (click)="save()">Sing up</button>
        <div>
            <small>Already have an account? Login</small>
        </div>
    </form>
</div>
</div>
