:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .title{
    padding: 10px 14px 10px;
    text-align: center;
   
  }
  .content{
    padding: 10px 14px 0px;
  }
.row{
    display: flex;
    gap:10px;
  }

.image-box{
  width: 50%;
  /* background-color: aqua; */
}
.image-box button{
  width: 100%;
}



  .text-box{
    width: 100%;
  }
  .action{
    padding: 0px 14px 10px;
    width: 100%;
  }
  .action button{
    flex: 1;
  }


  /* ====desing box==== */
  .yellow-box{
    background-image: url('asset/peacock_feater.jpg');
    background-size: cover;
    background-color: #FCEFE5ff;
    height: 700px;
    padding-top: 10px;
    padding: 10px;
   
  }
  .design-box{
    padding: 10px;
    margin-top: 150px;
   
  }
  .peacock-box{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    
   
  }
  h1 ,h5{
    text-align: center;
    color: #FFFFFFff;
  }
  h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }