<div class="yellow-box">
    <div class="title"><h1>Create your Account</h1></div>
    <div class="sub-title"><h5>Explore Travel destination</h5></div>
    <div class="peacock-box">
<div class="container design-box">
    
        <form  [formGroup]="signupForm" (ngSubmit)="onSignup()">
            <div  mat-dialog-content class="content">
                    <div class="row">
                        <mat-form-field appearance="outline">
                            <mat-label >Name</mat-label>
                            <input matInput placeholder="ex: Raju" formControlName="name">
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label >Email Id</mat-label>
                            <input matInput placeholder="ex: raju@gmail.com" formControlName="email">
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field appearance="outline">
                            <mat-label >User Name</mat-label>
                            <input matInput placeholder="ex: itsRaju" formControlName="username">
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label >Password</mat-label>
                            <input matInput placeholder="use strong pasword" formControlName="password" [type]="hide ? 'password' : 'text'">
                        </mat-form-field>
                    </div>
     
            </div>

    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">Sign up</button>
    </div>
</form>


</div>
</div>

</div>
