<div class="title"><h1>Destination form</h1></div>
<form  [formGroup]="assImgToDestForm" (ngSubmit)="onFormSubmit()">
<div  mat-dialog-content class="content">
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label >Destination Id</mat-label>
            <input matInput placeholder="ex: 1" formControlName="imgId">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label >Image Id</mat-label>
            <input matInput placeholder="ex: 1" formControlName="destId">
        </mat-form-field>
    </div>
  
</div>

<div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="primary" type="submit">{{data ? 'update':'save'}}</button>
</div>
</form>


