<div class="hero">
    <div class="container">
        <div class="row row-cols-1 img__box">
            <div class="col"><h1 class="home__tittle">Wander Quest</h1></div>
            <div class="col"> <h5 class="home__subtitle">Explore India's Treasures</h5></div>
            
        </div>
    </div>
    
</div>



<div #popular class="popular" id="popular">
    <div class="container">
        <div class="row"> <h1 class="popular__title">Popular This Season</h1></div>
        <div class="row">
            <div class="img__card">
                <!-- enter cards -->

                <div class="row">

                    <div class="card mb-3 col-md-3">
                        <div class="card-img-top popular__img2"></div>
                        <div class="card-body">
                          <h5 class="card-title">Taj Mahal</h5>
                          <h6 class="location-text"><i class="bi bi-geo-alt-fill"></i> Agra, India</h6>
                          <p class="card-text">Standing majestically on the banks of River Yamuna. 
                            Taj Mahal Taj Mahal is famous for Own beauty and one of the wonders 
                            of the world.</p>
                          <div class="stars">
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star-fill"></i>
                        </div>
                        </div>
                    </div>

                    <div class="card mb-3 col-md-3"> 
                        <div class="card-img-top popular__img1"></div>
                        <div class="card-body">
                          <h5 class="card-title">Floating Market, Dal Lake</h5>
                          <h6 class="location-text"><i class="bi bi-geo-alt-fill"></i> Srinagar,Jammu and Kashmir</h6>
                          <p class="card-text">The Floating Vegetable Market 
                            is a unique site to savour in Srinagar, set against the beautiful backdrop, 
                            marks it as a photographer's haven.</p>
                          <div class="stars">
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star-fill"></i>
                        </div>
                        </div>
                    </div>
    
                    
    
                    <div class="card mb-3 col-md-3">
                        <div class="card-img-top popular__img3"></div>
                        <div class="card-body">
                          <h5 class="card-title">Hawa Mahal</h5>
                          <h6 class="location-text"><i class="bi bi-geo-alt-fill"></i> Jaipur, India</h6>
                          <p class="card-text">The exquisite pink and red sandstone 'mahal' 
                            stands out for its striking architecture, 
                            and the beautiful 'jhaali' works on its 953 windows.</p>
                          <div class="stars">
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </div>
                        </div>
                    </div>


                </div>
                
                  
                
            </div>
            
        </div>
    </div>
</div>






<div class="destination">
    <div class="container">
        <div class="row row-cols-1">
            <div class="des__title-box">
            <div class="col"><h1 class="destination__title">Discover Dream Destination</h1></div>
            <div class="col"><button (click)="navigateToDestination()" type="button" class="btn btn-bd-primary">Let's Explore</button></div>
            </div>
        </div>
    </div>

</div>

<div class="booking">
    <div class="container">
        <div class="row"> <h1 class="popular__title">Book Your Stays & Rides</h1></div>
        <div class="row">
            <div class="img__card">
                <!-- enter cards -->
                <div class="row">
                    <div class="card mb-3 col-md-3">
                        
                        <div class="card-img-top book_hotel-img"></div>
                        <div class="card-body">
                          <h5 class="card-title">Book Hotels</h5>
                          <p class="card-text">Experience comfort and luxury, book your stay today and make memories that last a lifetime!</p>
                        </div>
                    </div>
    
                    <div class="card mb-3 col-md-3">
                        <div class="card-img-top book_ride-img"></div>
                        <div class="card-body">
                          <h5 class="card-title">Book Rides</h5>
                          <p class="card-text">Ride in style, book your journey with a smile!</p>
                        </div>
                    </div>
    
                    <div class="card mb-3 col-md-3">
                        <div class="card-img-top bolg-img"></div>
                        <div class="card-body">
                          <h5 class="card-title">Blog by travelers</h5>
                          <p class="card-text">Explore, Engage, and Expand Your World - Dive into our Blog Today!</p>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>

</div>
