
.hero col{
    width: 100%;

}



.hero{
    /* height: 1080px; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 80px;


    background-image: url('assets/homeBg.jpg');
    background-size: cover;
    background-position: center;
    min-height: 90vh; /* Use min-height to ensure full coverage */
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
    overflow: hidden; /* Hide any overflowing content */
}
.home__tittle{
    /* font-size: 100px;  good for small device*/
    font-size: 150px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: #FCEFE5ff;
    margin-top: 12%;
    
    
}
.home__subtitle{
    text-align: center;
    color: #FCEFE5ff;
}


/*============ popluar section============= */
.popular{
    display: flex;
    margin: 30px 0px 30px 0px;
    
    
}
.img__card{
    width: 100%;
    margin-bottom: 12%;
}
.popular__title{

    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: black;
}

.star__color{
    color: orange;
}


/* =================image section ============================*/

.popular__img1{
    background-image: url('assets/kashmir.jpg');
    background-size: cover;
    background-position: center;
    height: 20rem;
}
.popular__img2{
    background-image: url('assets/tajmahal.jpg');
    background-size: cover;
    background-position: center;
    height: 20rem;
}
.popular__img3{
    background-image: url('assets/rajasthan.jpg');
    background-size: cover;
    background-position: center;
    height: 20rem;
}
.img__card{
    margin-bottom: 5%;
}
.img__card .row{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.card{
    margin: 15px;
    padding: 0px;
}


/*=================== destination ================ */
.destination{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 460px;
    background-color: aqua;
    background-image: url('assets/forest.jpg');
    background-size: cover;
    background-position-y: 50%;
}
.destination__title{
    
    margin: 15px;
    font-size: 60px;
    color:#FCEFE5ff ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    
}
.des__title-box{
    background-color: #076B83ff ;
    height: 15rem;
    border-radius: 1rem;
    padding: 3%;
}
.des__title-box:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    transition: 1s;

}

.btn-bd-primary{
    --bs-btn-color: #FCEFE5ff;
    --bs-btn-bg: #703333ff;
    --bs-btn-hover-bg:#FCEFE5ff;

}
/* ================booking======================*/
.booking{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px 30px 0px;
}
.book__cards{
    margin-bottom: 12%;
}

/* ============img booking section================= */
.book_hotel-img{
    background-image: url('assets/hotel-book-img.jpg');
    background-size: cover;
    background-position: center;
    height: 20rem;
}
.book_ride-img{
    background-image: url('assets/ride-book-img.jpg');
    background-size: cover;
    background-position: center;
    height: 20rem;
}
.bolg-img{
    background-image: url('assets/blog-img.jpg');
    background-size: cover;
    background-position: center;
    height: 20rem;
}

.card-footer{
border: none;
text-align: center;
background: none;
padding-bottom: 10px;
}
/*================ responsive======================= */
/* text will be 90px from screen size 0-767 */
@media (max-width:767px) {
    .home__tittle{
        font-size: 90px;
    }
    .popular__title{
        font-size: 40px;
    }
    .destination__title{
        font-size: 40px;
    }
    .des__title-box{
        margin: auto;
        width: 22rem;
        height: 12rem;

    }
    
}
/* ==================animations===================== */
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    transition: 1s;
}
.home__tittle:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    transition: 1s;
}
.location-text{
    color: rgb(156, 155, 158);
}