<div class="hero">
    <div class="container">
        <div class="row row-cols-1 img__box">
            <div class="col"><h1 class="home__tittle">Wander Quest</h1></div>
            <div class="col"> <h5 class="home__subtitle">Explore India's Treasures</h5></div>
            
        </div>
    </div>
    
</div>



<div class="popular" id="popular">
    <div class="container">
        <div class="row"> <h1 class="popular__title">Popular This Season</h1></div>
        <div class="row">
            <div class="img__card">
                <!-- enter cards -->

                <div class="row">
                    <div class="card mb-3 col-md-3">
                        
                        <div class="card-img-top popular__img1"></div>
                        <div class="card-body">
                          <h5 class="card-title">popular place 1</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <div class="stars">
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star-fill"></i>
                        </div>
                        </div>
                    </div>
    
                    <div class="card mb-3 col-md-3">
                        <div class="card-img-top popular__img2"></div>
                        <div class="card-body">
                          <h5 class="card-title">popular place 2</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <div class="stars">
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star-fill"></i>
                        </div>
                        </div>
                    </div>
    
                    <div class="card mb-3 col-md-3">
                        <div class="card-img-top popular__img3"></div>
                        <div class="card-body">
                          <h5 class="card-title">popular place 3</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <div class="stars">
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star-fill star__color"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </div>
                        </div>
                    </div>


                </div>
                
                  
                
            </div>
            
        </div>
    </div>
</div>






<div class="destination">
    <div class="container">
        <div class="row row-cols-1">
            <div class="des__title-box">
            <div class="col"><h1 class="destination__title">Discover Dream Destination</h1></div>
            <div class="col"><button (click)="navigateToDestination()" type="button" class="btn btn-bd-primary">Let's Explore</button></div>
            </div>
        </div>
    </div>

</div>

<div class="booking">
    <div class="container">
        <div class="row"> <h1 class="popular__title">Book Your Stays & Rides</h1></div>
        <div class="row">
            <div class="img__card">
                <!-- enter cards -->
                <div class="row">
                    <div class="card mb-3 col-md-3">
                        
                        <div class="card-img-top book_hotel-img"></div>
                        <div class="card-body">
                          <h5 class="card-title">Book Hotels</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
    
                    <div class="card mb-3 col-md-3">
                        <div class="card-img-top book_ride-img"></div>
                        <div class="card-body">
                          <h5 class="card-title">Book Rides</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>
    
                    <div class="card mb-3 col-md-3">
                        <div class="card-img-top bolg-img"></div>
                        <div class="card-body">
                          <h5 class="card-title">Blog by travelers</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>

</div>
